#toc-container {
  position: fixed;
  top: 60px;
  right: 20px;
  padding-left: 15px;
  padding-right: 10px;
  border: 1px solid #e0e0e032;
  border-radius: 5px;
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1000;
  min-width: 200px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  color: #000000;
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  isolation: isolate;
}

#toc-container .toc-entry,
.toc-delete-button {
  filter: invert(1) grayscale(1) contrast(9);
}

#toc-container .toc-title{
  filter: invert(1) grayscale(1) contrast(9);
  font-weight: bold;
}

#toc-container .toc-title {
  margin-bottom: 10px;
  padding: 5px;
  border-bottom: 1px solid #fdfdfd;
  color: #fdfdfd;
}

#toc-container .toc-entry {
  cursor: pointer;  
  margin-top: 8px;
  color: #ffffff;
  font-size: 14px;
}

#toc-container .toc-entry:hover {
  font-weight: 800;
}

#toc-container .toc-resize-handle {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
  background: #ffffff;
  border-radius: 50%;
  filter: invert(1) grayscale(1) contrast(9);
}

input.chat-title-input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black;
  }

  .toc-entry-container {
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    cursor: pointer;
  }
  
  .toc-delete-button {
    background: none;
    border: none;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    padding: 4px;
    margin-left: 8px;
  }
  
  .toc-delete-button:hover {
    color: #ff4444;
  }

#update-notification {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(2px);
  border: 1px solid #4d4d4f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  width: 300px;
  padding: 16px;
}

.notification-content {
  text-align: left;
  color: black;
}

.notification-content h1 {
  margin: 0 0 8px;
  font-size: 16px;
  font-weight: 600;
}

.notification-content p {
  margin: 0 0 16px;
  font-size: 14px;
  line-height: 1.5;
}

.notification-content button {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 0;
  filter: invert(1) grayscale(1) contrast(9);
}
